@model int

<li class="nav-item cart-icon">
    <a class="nav-link text-white position-relative" asp-area="" asp-controller="Cart" asp-action="Index">
        🛒
        @if (Model > 0)
        {
            <span class="badge badge-pill badge-danger cart-count position-absolute">@Model</span>
        }
    </a>
</li>